 body {
      background-color: #000;
      color: white;
    }
    .navbar-nav .nav-link {
      color: white;
      margin: 0 10px;
    }
    .navbar-nav .nav-link:hover {
      text-decoration: underline;
    }
    .btn-signup {
      background-color: #000000;
      color: #000;
      border-radius: 5px;
    }
    .content1 {
      background-image: url('images/content atasan.avif');
      background-size: cover;
      background-position: center;
      height: 85vh;
      display: flex;
      align-items: center;
    }
    .content1 img {
      max-width: 100%;
    }
    .circle-indicators div {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: gray;
    }
    .circle-indicators .black {
      background-color: #505050;
    }
    .card:hover {
      transform: scale(1.05);
      transition: 0.3s ease-in-out;
    }
    .content4 {
      background-image: url('images/background amd.avif');
      background-size: cover;
      background-position: center;
      padding: 80px 0;
      text-align: center;
    }
    .footer {
      background-color: #1e262b;
      color: white;
      padding: 40px 20px;
    }
    .social-icons a {
      color: white;
      margin-right: 15px;
    }
    .subscribe-form input {
      border: none;
      background-color: #394148;
      color: white;
    }
